.wallet-recommend {
  opacity: 1 !important;
  font-size: 0.8rem !important;
  padding: 0 0.7rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 2rem;
  background: linear-gradient(90deg, #4a90e2, #eb67f7);
  position: absolute;
  left: 10.5rem;
}
