.card {
  &__inner {
    transition: transform 0.4s ease-in-out;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
  }

  &__back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  &:hover &__inner {
    transform: rotateY(180deg);
  }
}
